.vacancy {
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
}

.vacancy__name {
  margin: 10px 0 15px 0;
  color: #0194df;
}

.vacancy__price {
  margin-bottom: 15px;
  font-weight: bold;
}

.vacancy__paid {
  font-weight: bold;
  margin-left: 10px;
  color: #979797;
}

.vacancy__footer {
  display: flex;
  justify-content: space-between;
}

.vacancy__menu {
  min-width: 122px;
  text-align: right;
}
